[Unit]
Description=Buildbot
Wants=network.target
After=network.target

[Service]
ProtectHome=true
ExecStart=/opt/buildbot/env/bin/buildbot start --nodaemon /opt/buildbot/master
WorkingDirectory=/opt/buildbot/master
User=buildbot
Restart=always

[Install]
WantedBy=multi-user.target
