[Unit]
Description=Buildbot
Wants=network.target
After=network.target

[Service]
ProtectHome=true
ExecStartPre={{ buildbot_home }}/env/bin/buildbot upgrade-master {{ buildbot_home }}/master/
ExecStart={{ buildbot_home }}/env/bin/buildbot start --nodaemon {{ buildbot_home }}/master
WorkingDirectory={{ buildbot_home }}/master
User={{ buildbot_user }}
Restart=always

[Install]
WantedBy=multi-user.target
